<h1>Lista Utenti</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ruolo</th>
      <th>Data di Registrazione</th>
      <th>Azioni</th> 
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at.strftime('%d/%m/%Y') %></td>
        <td>
          <%= button_to 'Elimina Account', account_path(user), method: :delete, data: { confirm: 'Sei sicuro?' } %>
          <% unless user.admin? %>
            <%= button_to 'Rendi Admin', make_admin_account_path(user), method: :patch, data: { confirm: 'Sei sicuro di voler promuovere questo utente ad admin?' } %>
          <% end %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>
