<h1>Lista Utenti</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Role</th>
      <th>Data di Registrazione</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at.strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
