<h1>Il tuo Carrello</h1>

<% if @cart.courses.any? %>
  <ul>
    <% @cart.courses.each do |course| %>
      <li>
        <%= link_to course.title, course_path(course) %>
        <p><%= course.description %></p>
        <%= button_to 'Rimuovi dal Carrello', remove_course_cart_path(course_id: course.id), method: :delete %>
      </li>
    <% end %>
  </ul>
  <%= button_to 'Compra Tutti', purchase_cart_path, method: :post, class: 'btn btn-primary' %>
<% else %>
  <p>Il tuo carrello è vuoto.</p>
<% end %>

<%= link_to 'Indietro', courses_path, class: 'btn btn-secondary' %>
