<h1>Il tuo carrello</h1>

<% if @cart.cart_items.any? %>
  <ul>
    <% @cart.cart_items.each do |item| %>
      <li>
        <%= item.course.title %> - <%= number_to_currency(item.course.price) %>
        <%= link_to 'Rimuovi', remove_course_cart_path(@cart, course_id: item.course.id), method: :delete %>
      </li>
    <% end %>
  </ul>
  <h2>Totale: <%= number_to_currency(@cart.cart_items.sum { |item| item.course.price }) %></h2>
  <%= button_to 'Checkout con Stripe', checkout_cart_path(@cart), method: :post, class: 'btn btn-primary' %>
<% else %>
  <p>Il tuo carrello è vuoto.</p>
<% end %>