<h1>Corsi Segnalati</h1>

<% if @reports.any? %>
  <ul>
    <% @reports.each do |report| %>
      <li>
        <p><strong>Corso:</strong> <%= link_to report.course.title, course_path(report.course) %></p>
        <p><strong>Motivo:</strong> <%= report.subject %></p>
        <p><strong>Descrizione:</strong> <%= report.description %></p>
        <p><strong>Segnalato da:</strong> <%= report.account.email %></p>
        <%= link_to 'Elimina Segnalazione', report_path(report), method: :delete, data: { confirm: 'Sei sicuro di voler eliminare questa segnalazione?' }, class: 'btn btn-danger' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Non ci sono corsi segnalati.</p>
<% end %>

<%= link_to 'Indietro', accounts_path %>
