<!DOCTYPE html>
<html>
<head>
  <title>SkillSphere</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'google_picker' %>
</head>

<body>
  <nav>
    <%= link_to 'Home', root_path, class: 'navbar-home-button' %>
    <% if session[:user_id] %>
      <%= link_to 'Account', accounts_path %>
    <% end %>
    <% if current_user&.seller? %>
      <%= link_to 'Crea corso', new_course_path, id: 'new-course-link' %>
    <% end %>
    <% if current_user && current_user.cart %>
        <%= link_to 'Carrello', cart_path(current_user.cart) %>
    <% end %>
  </nav>
  <%= yield %>
  <div id="result"></div>
  <script>
    var googleClientId = '<%= ENV['GOOGLE_CLIENT_ID'] %>';
    var googleApiKey = '<%= ENV['GOOGLE_API_KEY'] %>';
  </script>
  <script async defer src="https://apis.google.com/js/api.js" onload="onApiLoad()"></script>
  <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
</body>
</html>
