<!DOCTYPE html>
<html>
  <head>
    <title>SkillSphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path, class: 'navbar-home-button' %>
      <%= link_to 'Report', new_report_path %>
      <% if current_user&.seller? %>
        <%= link_to 'New Course', new_course_path %>
      <% end %>
      <% if !session[:user_id] %>
        <%= button_to "Sign in with Google", '/auth/google_oauth2', method: :post %>
      <% else %>
        <%= button_to "Log out", '/session/destroy', method: :get %>
      <% end %>

    </nav>
    <%= yield %>
  </body>
</html>
