<!DOCTYPE html>
<html>
  <head>
    <title>SkillSphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path, class: 'navbar-home-button' %>
      <%= link_to 'Report', new_report_path %>
      <%= link_to 'New Course', new_course_path %>
    </nav>
    <%= yield %>
  </body>
</html>
