<h1>Account Details</h1>
<p>
  <strong>ID:</strong>
  <%= @account.id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @account.role %>
</p>
<%= link_to 'Back', accounts_path %>

<% if @account.role == 'customer' %>
  <%= link_to 'Corsi comprati', bought_courses_path %>
<% elsif @account.role == 'seller' %>
  <%= link_to 'Corsi caricati', uploaded_courses_path %>
<% elsif @account.role == 'admin' %>
  <%= link_to 'Corsi segnalati', reported_courses_path %>
  <%= link_to 'Lista utenti', all_users_path %>
  <%= link_to 'Richieste assistenza', all_assistances_path %>
<% end %>
