<h1>Account Details</h1>
<p>
  <strong>ID:</strong>
  <%= @account.id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @account.role %>
</p>
<%= link_to 'Back', accounts_path %>

<% if current_account.role == 0 %>
  <%= link_to 'Corsi comprati', bought_courses_path %>
<% elsif current_account.role == 1 %>
  <%= link_to 'Corsi caricati', uploaded_courses_path %>
<% elsif current_account.role == 2 %>
  <%= 
    link_to 'Corsi segnalati', reported_courses_path
    link_to 'Lista utenti', all_users_path
  %>
<% end %>
